@model List<Fptbook.ViewModel.Customers.ViewCartItemViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Cart</h1>
   
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelName => item.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.TotalPrice)
                            </td>
                            <td>
                                @Html.ActionLink("Change Quantity", "ChangeQuantity", new { id = item.Id },new { @class = "btn btn-success" })

                                @Html.ActionLink("Remove", "RemoveItem", new { id = item.Id },new { @class = "btn btn-danger" })
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.ActionLink("Payment", "Payment", new { orderId = @ViewBag.OrderId, storeId = @ViewBag.StoreId },new { @class = "btn btn-danger" })
        @*<a class="btn btn-primary" asp-action="Payment" asp-controller="Customers" asp-route-id="@ViewBag.OrderId">Payment</a>*@
    </div>
</div>