@using Fptbook.ViewModel.common
@model List<Fptbook.ViewModel.Home.HomeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var store in Model){
    <div class="card-body">
        <h1 class="mt-4">@store.StoreName</h1>
        @if (User.IsInRole("customer"))
        {
        @Html.ActionLink("View Cart", "ViewCart","Customers", new { id = store.StoreId }, new { @class = "btn btn-danger" })
           @*@Html.ActionLink("filter", "Index", "Home", new { isFilter = true }, new { @class = "btn btn-danger" }) *@
        }
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ISBN</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Date Created</th>
                        <th>Price</th>
                        <th>Page</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in store.BookList.Items)
                    {
                        
                            <tr>
                                <td>    
                                    <img src=@item.ImagePath alt="" />  
                                </td>
                                <td>    
                                    @Html.DisplayFor(modelItem => item.ISBN)
                                </td>
                                <td>    
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pages)
                                </td>
                                <td>
                                @if (User.IsInRole("customer"))
                                {
                                    @Html.ActionLink("Add To Card", "AddToCart","Customers", new { id = item.Id }, new { @class = "btn btn-danger" })
                                }
                                
                                    
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", @store.BookList)
    </div>
}