@using Fptbook.ViewModel.common
@model PageResult<Fptbook.ViewModel.Book.BookViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Book</h1>
    
    
@section Scripts{
    <script>
        setTimeout(function () {
            $('msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
    <div class="card mb-12">
        <div class="card-header">

            <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-controller="Books" asp-action="CreateBook">Create new Book</a>
                    </div>
                
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text"  name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-4">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <button type="button" onclick="window.location.href='/Books/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ISBN</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Date Created</th>
                        <th>Price</th>
                        <th>Pages</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        
                            <tr>
                                <td>    
                                    <img src=@item.ImagePath alt="" />  
                                </td>
                                <td>    
                                    @Html.DisplayFor(modelItem => item.ISBN)
                                </td>
                                <td>    
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pages)
                                </td>
                                <td>
                                    @Html.ActionLink("Detail", "DetailBook", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    @Html.ActionLink("Update", "UpdateBook", new { id = item.Id }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Delete", "DeleteDocument", new { id = item.Id }, new { @class = "btn btn-primary" })
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>
